body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  html {
    font-size: 62.5%;
  }
  
  .form-container {
    text-align: center;
    max-width: 50rem;
    font-size: 1.5rem;
    color:#ffffff;
    border-radius: .6rem;
    padding: 2rem;
    margin: auto;
    text-shadow: 0.1rem 0.1rem #a6720b;
    margin-top: 0%;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 1rem;
  }
  
  .form-container input[type="text"],
  .form-container input[type="number"]{
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: .4rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  
  .form-container button {
    padding: 1rem 2rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: .4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container button:hover {
    background-color: #ffffffaa;
  }
  
  #drop-down {
    width: 100%;
    padding: .9rem;
    outline: none;
    border: none;
    border-radius: .3rem;
    margin-bottom: 1rem;
  }

  .chapri h3{
display: inline;
  }

  .chapri {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #a6720b;
    text-shadow: 0.1rem 0.1rem #000000;
    background-color: #ffffffe2;
    display: inline-block;
    padding: 1REM;
    border-radius: 5PX;
  }

  .chapri #name {
    text-decoration: underline;
  }
  
  #join {
    width: 95%;
    padding: 9px;
    outline: none;
    border: none;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
  
  }

  .button {
    background-color: #a6720b !important;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 3rem;
    color: #ffffff !important;
    text-shadow: 0.1rem 0.1rem #000000 !important;
    border: solid 0.1rem #ffffff !important;
  }

  .border {
    border: solid 0.2rem #a6720b !important;
  }

  .title {
    margin-bottom: 4rem !important;
    font-size: 3.5rem !important;
    text-shadow: 0.2rem 0.2rem #a6720b !important;
  }

  .button:hover {
    box-shadow: 1px 5px 7px 1px rgba(255, 255, 255, 0.095) !important;
    background-color: #b87b00 !important;
}

.button:active {
    background-color: #7a5300 !important;
}