*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0rem;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

.header {
    background-color: #A6720B;
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid 0.2rem #ffffff;
}


.navbar-text {
    color: #fff;
    font-size: 3rem;
    width: 60VW;
}

.navbar-btn {
    padding: 1rem;
    border-radius: .3rem;
    font-size: 1.7rem;
    background-color: #ffffff;
    text-decoration: none;
    border:none;
    color: #000000;
}
@media screen and (max-width: 600px) {
    .navbar-btn {
        margin-top: 1rem;
    }
}


.filter{
    margin: 1rem;
    margin-bottom: 3REM !important;
}

.filter-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-control {
    width: 25rem;
    padding: .9rem;
    outline: none;
    border: solid 0.2rem #A6720B;
    margin:1rem;
    background-color: #e9e9ed;
    height: 2.5REM;
}

.BTNHEAD2::after, .BTNHEAD2:hover {
    background-color: #A6720B !important;
    transform: scale(1.1);
    transition: all 1s;
}

.btn {
    margin: 0 1REM;
    margin-top: 1REM;
    margin-bottom: 1REM;
    padding: 1rem;
    padding-left: 5rem;
    padding-RIGHT: 5rem;
    border-radius: .3rem;
    font-size: 2rem;
    background-color: #ffffff;
    text-decoration: none;
    border:none;
    color: #FFF;
    background-color: #A6720B;
    border: SOLID 0.2rem #ffffff;
    text-shadow: 0.1REM 0.1REM #000000;
}

.btn::after, .btn:hover {
    background-color: #362400;
    transition: all 1S;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row .card {
    border:5px solid #A6720B;
    margin: 1rem;
    width: 30rem;
    color: #000000;
    text-align: left;
    background-color: #ffffff;
    border-radius: 1.5rem;
    padding: 1rem;
    margin-bottom: 2rem;
    background-image: url(../img/cardbg2.jpg);
}

.card-title {
    font-size: 2rem;
    margin-bottom: .6rem;
    padding-bottom: .6rem;
    border-bottom: solid 0.1rem #000000;
    text-shadow: 0.1rem 0.1rem #A6720B;
}

.card-text {
    margin-bottom: .3rem;
    font-size: 1.5rem;
}

.placement-info {
    margin-top: 0.6rem;
    border-top: solid 0.1rem #000000;
    border-bottom: solid 0.1rem #000000;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.studdata {
    font-size: 1.7rem;
    margin-bottom: .5rem;
    text-shadow: 0.05rem 0.05rem #A6720B;
}

.placement-info h6 {
    font-size: 1.7rem;
    margin-bottom: .5rem;
    text-shadow: 0.05rem 0.05rem #A6720B;
}

.placement-info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.placement-info li {
    font-size: 1.5rem;
    margin-bottom: .3rem;
}

@media screen and (max-width: 600px) {
    .header {
        padding: 2rem 3rem;
    }
    .form-control {
        width: 20rem;}

}

.btnAD {
    text-align: center;
    font-weight: 700;
    border: SOLID 0.2rem #000000;
    text-shadow: 0.1REM 0.1REM #000000;
    padding-left: 1rem;
    padding-RIGHT: 1rem;
    background-color: #fff;
    color: #000000;
    text-shadow: 0.1REM 0.1REM #A6720B;
}

.btnHEAD {
    border: SOLID 0.2rem #00000000;
    width: 40%;
    font-weight: 900;
    font-size: 2rem;
    white-space: nowrap;
    
}

.btnAD::after, .btnAD:hover {
    background-color: #d8d8d8;
}

.addintern {
font-size: 1.5rem;
margin: 0 auto !important;
width: 18rem;
margin: 0.4rem 1rem !important;
margin-top: 3rem !important ;
}

.addplacement {
    font-size: 1.5rem;
    width: 18rem;
    margin: 1rem 1rem !important;
}

@media screen and (max-width: 650px) {
    .btnHEAD {
        border: SOLID 0.2rem #00000000;
        text-align: center;
        width: 100%;
        font-size: 3REM;
        border-bottom: solid 0.1rem #000000;
        white-space: normal;
    }

    .btnAD {
        background-color: #fff;
        color: #000000;
        margin: 0 AUTO;
    }
}